.form-section{
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    
}
.form-container{
    border: 1px solid #555;
   
}

.form-container > form{
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-size: 120%;
    font-family: monospace;
}

.form-container > form > input[type='text']{
    border:none;
    height: 40px;
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    transition: 0.3s;
}

.form-container > form > input[type='text']:focus{
    outline: none;
    border-bottom: 2px solid black;
    font-family: monospace;
}

.form-container > form > .agreement{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.form-container > form > .agreement a{
    font-style: italic;
}
input[type='button']{
    border-radius: 0;
    color: #000;
    /* align-self: flex-end; */
    padding: 10px 20px;
    /* margin-top: 20px; */
    font-family: monospace;
    background-color: #fff;
    border: 1px solid #555;
    transition: 0.3s;
}
form input[type='button']{
    align-self: flex-end;
    padding: 10px 20px;
    margin-top: 20px;
}
input[type='button']:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
div.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    /* background-color: #eee; */
    padding: 10px 20px;
    border-top: 1px solid #555; 
}

body{
    background: #fff;
    color: #000;
}

body.dark{
    background: #333;
    color: #fff;
}
body.dark * {
    color: #fff;
    background-color: #333;
}
body.dark input[type='button']:hover {
    background-color: #fff;
    color: #333;
}